<% if (!pokemonData) { %>
  <p>No Pokémon have been found!</p>
<% } else { %>
  <ul class="pokemon-list">
    <% pokemonData.forEach(pokemon => { %>
      <li>
        <a href="/pokemon/<%= pokemon.id %>">
          <img src="<%= pokemon.sprites.front%>">

          <span><%= pokemon.name%></span>
        </a>
      </li>
    <% }) %>
  </ul>
<% } %>