<%- include('partials/head') %>
<main>
  <section>
    <h1>Scan barcode</h1>

    <p>Please place the barcode within the frame. Refrain from shaking to get results more quickly.</p>
  </section>

  <video class="camera"></video>
</main>

<script src="./barcode-min.js"></script>

<%- include('partials/footer') %>
