<%- include('partials/head') %>
<main class="barcode">
  <section>
    <h1>Scan barcode</h1>

    <p>Please place the barcode within the frame. Refrain from shaking to get results more quickly.</p>
  </section>

  <div>
    <div></div>

    <div></div>

    <div></div>

    <div></div>

    <video class="camera"></video>
  </div>
</main>

<%- include('partials/footer') %>
