doctype html
html
    include ../components/head.pug

    body
        main
            div
                video(src="")

            div
                form(action="/search", method="post")
                    label(for="barcode") Barcode

                    input(id="barcode", type="number", name="barcode")

                    button(type="submit") Search

        script(src="../public/scripts/barcode.js")