:root {
  --white: #fff;
  --black: #000;
}

*,
main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* General classes */

.visibly-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
